:root {
  --primary: 0, 10, 73;
  --primary-dark-1: 0, 8, 57;
  --primary-light: 0, 12, 89;
  --primary-dark-2: 0, 4, 32;
  --secondary: 0, 50, 103;
  --gray-1: #111;
  --gray-2: #333;
  --gray-3: #555;
  --gray-4: #777;
  --gray-5: #999;
  --normal-font: 1.7rem
; }

@keyframes movetoTop {
  0% {
    opacity: 0;
    transform: translateY(200%); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 62.5em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  background-color: #dddddd;
  color: var(--gray-2);
  line-height: 1.5;
  font-size: 2rem;
  font-weight: 400; }

::-webkit-scrollbar {
  display: none; }

.heading {
  font-family: 'Poppins', sans-serif; }
  .heading-1 {
    font-size: 6rem;
    font-weight: 400;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    word-spacing: .5rem;
    letter-spacing: 1.5rem; }
    @media only screen and (max-width: 62.5em) {
      .heading-1 {
        font-size: 5rem; } }
    @media only screen and (max-width: 62.5em) {
      .heading-1 {
        letter-spacing: .7rem;
        word-spacing: 0; } }
    @media only screen and (max-width: 37.5em) {
      .heading-1 {
        letter-spacing: .3rem;
        word-spacing: 0; } }
  .heading-2 {
    font-size: 3.5rem;
    color: rgba(var(--primary), 1); }
    @media only screen and (max-width: 37.5em) {
      .heading-2 {
        font-size: 2.9rem; } }

.btn {
  border: 0;
  color: #fff;
  font-family: inherit;
  cursor: pointer;
  transform: scale(1); }
  .btn:focus {
    outline: none; }
  .btn:active {
    transform: scale(0.97) translateY(1px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15); }
  .btn--primary {
    background-color: rgba(var(--primary), 0.9);
    padding: 1.5rem 2rem;
    font-size: 1.9rem;
    border-radius: 1rem; }
    @media only screen and (max-width: 37.5em) {
      .btn--primary {
        padding: 1rem 1.5rem; } }
  .btn--secondary {
    padding: 1.5rem 2rem;
    font-size: 1.9rem;
    border-radius: 1rem;
    color: rgba(var(--primary), 1);
    font-weight: 400;
    border: 2px solid rgba(var(--primary), 1);
    background-color: transparent;
    transition: all .4s; }
    @media only screen and (max-width: 37.5em) {
      .btn--secondary {
        padding: 1rem 1.5rem; } }
    .btn--secondary:hover {
      background-color: rgba(var(--primary), 0.9);
      color: #fff; }
  .btn--subscribe {
    color: rgba(var(--primary), 1);
    padding: 2rem;
    background-color: transparent;
    border: 1px solid rgba(var(--primary), 1);
    font-size: 1.8rem; }

.illustrate {
  position: relative;
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 75em) {
    .illustrate {
      flex-direction: column; } }
  .illustrate__text {
    flex: 1;
    font-size: 2.5rem;
    color: rgba(var(--primary), 1);
    line-height: 2; }
    @media only screen and (max-width: 37.5em) {
      .illustrate__text {
        font-size: 1.9rem; } }
  .illustrate__pic {
    flex: 1.5; }
    @media only screen and (max-width: 75em) {
      .illustrate__pic {
        flex: 1;
        display: contents; } }
  .illustrate__img {
    width: 100%; }
    @media only screen and (max-width: 75em) {
      .illustrate__img {
        width: 80%; } }
  .illustrate__shape {
    position: absolute;
    top: 0;
    right: -25rem; }
    @media only screen and (max-width: 75em) {
      .illustrate__shape {
        display: none; } }
  .illustrate__heading {
    text-align: center;
    margin-bottom: 5rem; }

.quote {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 3rem;
  padding-bottom: 10rem; }
  @media only screen and (max-width: 56.25em) {
    .quote {
      grid-template-columns: 1fr;
      grid-row-gap: 12rem; } }
  .quote__box {
    background-color: rgba(var(--primary-light), 0.6);
    padding: 6rem 2rem 3rem 5rem;
    color: #000;
    border-radius: 1rem;
    position: relative; }
    @media only screen and (max-width: 75em) {
      .quote__box {
        padding: 5rem 1.5rem 2rem 4rem; } }
    .quote__box::after {
      content: "";
      height: 2rem;
      width: 2rem;
      background-color: rgba(var(--primary-light), 0.6);
      position: absolute;
      bottom: -1.98rem;
      left: 8rem;
      clip-path: polygon(0 0, 100% 0, 50% 80%); }
      @media only screen and (max-width: 37.5em) {
        .quote__box::after {
          bottom: -1.96rem; } }
  .quote__text {
    font-size: 2rem; }
  .quote__heading {
    text-align: center;
    margin: 1rem 0 7rem 0; }
  .quote__sign {
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 3.5rem;
    height: 2.9rem; }
    @media only screen and (max-width: 37.5em) {
      .quote__sign {
        width: 2.8rem;
        height: 2.2rem; } }
  .quote__user {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    bottom: -10rem; }
    @media only screen and (max-width: 56.25em) {
      .quote__user {
        bottom: -12rem;
        margin-bottom: 1rem; } }
    @media only screen and (max-width: 37.5em) {
      .quote__user {
        bottom: -10rem;
        left: 5rem; } }
  .quote__img {
    width: 20%;
    height: 20%;
    border-radius: 50%; }
    @media only screen and (max-width: 56.25em) {
      .quote__img {
        width: 12%;
        height: 12%; } }
    @media only screen and (max-width: 37.5em) {
      .quote__img {
        width: 14%;
        height: 14%; } }
  .quote__name {
    font-size: 1.8rem;
    color: rgba(var(--primary), 1);
    margin-top: 2rem;
    margin-left: 1rem; }

.search-bar {
  background-image: linear-gradient(to top left, #282526c2, #4c4559c5);
  position: fixed;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  z-index: 1000;
  transform: translateY(-100%);
  transition: all 1s; }

.show-search {
  transform: translateY(0); }

.search__cont {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 200px; }

.search__input {
  position: relative;
  padding: 2rem;
  background-color: rgba(var(--primary-dark-2), 1);
  color: var(--gray-5);
  width: 50%;
  border: 0;
  border-radius: 1rem;
  font-size: 2rem;
  font-family: inherit; }
  .search__input:focus {
    outline: 0; }

.search__icon {
  position: absolute;
  z-index: 2;
  top: 15px;
  right: 410px;
  cursor: pointer;
  stroke: none;
  fill: var(--gray-5); }

.search__close {
  position: absolute;
  top: 2rem;
  right: 4rem;
  font-size: 6rem;
  font-weight: 300;
  cursor: pointer;
  color: var(--gray-5);
  transition: all .4s; }
  .search__close:hover {
    color: #fff; }

.show {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 7rem;
  position: relative;
  top: -7rem;
  z-index: 3; }
  @media only screen and (max-width: 62.5em) {
    .show {
      grid-template-columns: repeat(2, 1fr);
      grid-row-gap: 5rem;
      grid-column-gap: 5rem; } }
  @media only screen and (max-width: 37.5em) {
    .show {
      grid-template-columns: 1fr; } }
  @media only screen and (max-width: 62.5em) {
    .show__box {
      display: flex;
      flex-direction: column; } }
  @media only screen and (max-width: 37.5em) {
    .show__box {
      align-items: center; } }
  .show__heading {
    position: relative;
    top: -15rem;
    z-index: 3;
    text-align: center; }
  .show__text {
    margin-top: 1rem; }
    @media only screen and (max-width: 37.5em) {
      .show__text {
        flex: 1; } }
  @media only screen and (max-width: 37.5em) {
    .show__icon {
      flex: .5;
      margin-bottom: 1rem; } }

.signup {
  display: flex;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 62.5em) {
    .signup {
      flex-direction: column;
      align-items: stretch; } }
  .signup__info {
    flex: 1; }
  .signup__heading {
    text-align: center; }
  .signup__box {
    flex: 2;
    display: flex;
    justify-content: center;
    margin-top: 5rem; }
  .signup__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 55%;
    background-color: rgba(var(--primary-dark-1), 0.8);
    padding: 5rem;
    border-radius: 5px;
    margin-right: 15rem; }
    @media only screen and (max-width: 75em) {
      .signup__form {
        margin: 0 0 0 10rem;
        width: 70%; } }
    @media only screen and (max-width: 62.5em) {
      .signup__form {
        width: 100%;
        margin: 0; } }
  .signup__input {
    padding: 1.5rem 1rem;
    border: 0;
    border-radius: .3rem;
    margin: 1rem 0;
    font-family: inherit; }
    .signup__input:focus {
      outline: none; }
  .signup__label {
    color: #fff; }
  .signup__btn {
    margin-top: 2rem; }
  .signup__text {
    margin-top: 6rem; }
  .signup__shape {
    position: absolute;
    right: 2rem; }
    @media only screen and (max-width: 75em) {
      .signup__shape {
        display: none; } }

.summary {
  margin: 7rem auto;
  width: 50%;
  background-color: rgba(var(--primary-dark-1), 0.8);
  padding: 3rem;
  border-radius: 1rem; }
  @media only screen and (max-width: 75em) {
    .summary {
      width: 65%; } }
  @media only screen and (max-width: 75em) {
    .summary {
      width: 85%; } }
  @media only screen and (max-width: 62.5em) {
    .summary {
      width: 100%; } }
  .summary__details {
    padding: 2rem;
    cursor: pointer;
    color: var(--gray-5); }
  .summary__summary {
    font-size: 2.5rem; }
    .summary__summary:focus {
      outline: none;
      border: 0; }
  .summary__text {
    color: inherit;
    padding: 2rem 0;
    font-size: 2.1rem; }
  .summary__heading {
    text-align: center; }
  .summary__shape {
    position: absolute;
    left: 5rem;
    top: 5rem;
    height: 45.5rem;
    width: 45.5rem; }
    @media only screen and (max-width: 62.5em) {
      .summary__shape {
        width: 25.5rem;
        height: 25.5rem;
        top: 20rem; } }
    @media only screen and (max-width: 37.5em) {
      .summary__shape {
        display: none; } }

.footer {
  padding: 6rem 10rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: rgba(var(--primary), 1);
  position: relative; }
  @media only screen and (max-width: 37.5em) {
    .footer {
      padding: 3rem 5rem;
      flex-direction: column; } }
  .footer__box {
    margin-top: -13rem;
    flex: 1.5; }
    @media only screen and (max-width: 37.5em) {
      .footer__box {
        margin-top: 0;
        order: 2; } }
  .footer__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .footer__item {
    margin-top: 2rem; }
  .footer__link {
    text-decoration: none;
    text-transform: uppercase;
    color: currentColor; }
  .footer__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 2; }
    @media only screen and (max-width: 37.5em) {
      .footer__content {
        order: 1;
        flex: 1; } }
  .footer__logo {
    position: relative; }
    .footer__logo::after, .footer__logo::before {
      content: "";
      width: 35rem;
      height: 1px;
      background-color: currentColor;
      position: absolute;
      top: 5.1rem; }
      @media only screen and (max-width: 62.5em) {
        .footer__logo::after, .footer__logo::before {
          width: 20rem; } }
      @media only screen and (max-width: 37.5em) {
        .footer__logo::after, .footer__logo::before {
          display: none; } }
    .footer__logo::before {
      left: 35rem; }
      @media only screen and (max-width: 75em) {
        .footer__logo::before {
          left: 20rem; } }
    .footer__logo::after {
      right: 35rem; }
      @media only screen and (max-width: 75em) {
        .footer__logo::after {
          right: 20rem; } }
  .footer__logo-link {
    text-decoration: none;
    color: currentColor; }
  .footer__icon {
    stroke: currentColor; }
  .footer__name {
    font-size: 2.5rem;
    margin-top: -1.5rem; }
  .footer__social {
    margin: 5rem 0;
    width: 80%;
    display: flex;
    justify-content: space-around; }
  .footer__subscribe {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 80%;
    margin-top: 5rem; }
    @media only screen and (max-width: 37.5em) {
      .footer__subscribe {
        margin-top: 0;
        width: 100%; } }
  .footer__svg {
    cursor: pointer; }
  .footer__input {
    padding: 2rem;
    background-color: transparent;
    border: 1px solid rgba(var(--primary), 1);
    font-size: 1.8rem;
    font-family: inherit; }
    .footer__input:focus {
      outline: none; }
    .footer__input::placeholder {
      text-align: center; }
  .footer__news {
    text-align: center;
    margin: 4rem 0;
    text-transform: uppercase;
    font-size: 2.5rem;
    letter-spacing: 4px; }
    @media only screen and (max-width: 37.5em) {
      .footer__news {
        margin: 2rem; } }
  .footer__copyright {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: rgba(var(--primary-dark-2), 1);
    color: var(--gray-5); }
    .footer__copyright p {
      text-align: center;
      font-size: 1.8rem; }

.header {
  background-image: linear-gradient(to bottom right, rgba(var(--primary-light), 0.5), rgba(var(--primary), 0.5)), url(../img/quote-back-3.jpg);
  background-position: bottom;
  background-size: cover;
  height: 100vh;
  position: relative; }
  .header__info {
    position: absolute;
    top: 50%;
    left: 6%;
    transform: translateY(-50%);
    z-index: 2; }
    @media only screen and (max-width: 43.75em) {
      .header__info {
        width: 100%;
        left: 50%;
        transform: translate(-50%, -50%); } }
  .header__text {
    font-size: 2.1rem;
    font-weight: 300;
    color: #fff;
    margin: 2rem 0 0 4rem;
    padding-left: 1rem; }
    @media only screen and (max-width: 43.75em) {
      .header__text {
        text-align: center;
        margin: 2rem 0 0 0; } }
  .header__btns {
    margin: 5rem 4.5rem;
    display: flex;
    justify-content: space-around;
    width: 40%; }
    @media only screen and (max-width: 56.25em) {
      .header__btns {
        width: 50%; } }
    @media only screen and (max-width: 43.75em) {
      .header__btns {
        width: 60%;
        margin-left: 15rem; } }
    @media only screen and (max-width: 37.5em) {
      .header__btns {
        width: 70%;
        font-size: 1.6rem;
        margin-left: 5rem; } }
  .header__btn {
    text-align: center; }
  .header__heading {
    display: none; }
    @media only screen and (max-width: 43.75em) {
      .header__heading {
        display: block;
        margin-bottom: 5rem; } }
  .header__show {
    display: block; }
    @media only screen and (max-width: 43.75em) {
      .header__show {
        display: none; } }
  .header__hero {
    width: 100%;
    height: auto;
    position: absolute;
    right: 0;
    top: 0; }
  .header__icon {
    position: absolute;
    top: 1rem;
    padding: 1rem .5rem;
    left: 61%;
    animation: movetoTop 1.5s ease;
    stroke: #fff;
    width: 5.2rem;
    height: 7.4rem; }
    @media only screen and (max-width: 62.5em) {
      .header__icon {
        width: 4.2rem;
        height: 6.4rem; } }
  .header__blob {
    position: absolute;
    top: -20rem;
    left: -20rem; }
    @media only screen and (max-width: 37.5em) {
      .header__blob {
        display: none; } }
  .header__dash {
    position: absolute;
    bottom: -22rem;
    z-index: 1; }

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  position: fixed;
  width: 100%;
  z-index: 100;
  padding: 2rem 2rem; }
  .nav__right {
    flex: 2; }
    @media only screen and (max-width: 37.5em) {
      .nav__right {
        flex: 1; } }
  @media only screen and (max-width: 37.5em) {
    .nav {
      transform: translateX(100%);
      transition: all .5s;
      height: 100%;
      top: 0;
      right: 0;
      flex-direction: column-reverse;
      justify-content: center;
      width: 30rem;
      background-color: rgba(var(--primary), 1); } }
  .nav__shown {
    transform: translateX(0); }
  .nav__list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
    list-style: none;
    font-size: 1.8rem;
    font-weight: 300;
    padding: 2rem 0; }
    @media only screen and (max-width: 37.5em) {
      .nav__list {
        flex-direction: column; } }
  @media only screen and (max-width: 37.5em) {
    .nav__item {
      margin-top: 2rem; } }
  .nav__icon {
    stroke: #999;
    transition: all .4s; }
    .nav__icon:hover {
      stroke: #fff; }
  .nav__link:link, .nav__link:visited {
    color: var(--gray-5);
    text-decoration: none;
    text-transform: uppercase;
    font-family: inherit;
    transition: all .4s; }
  .nav__link:hover, .nav__link:active {
    color: #fff; }
  .nav__left {
    flex: 1.5; }
    @media only screen and (max-width: 37.5em) {
      .nav__left {
        flex: 0;
        margin-top: 5rem; } }
  .nav__scroll {
    padding: 0.5rem 2rem;
    background-color: rgba(var(--primary), 1);
    backdrop-filter: blur(10px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5); }
  .nav__menu {
    position: fixed;
    top: 1rem;
    right: 2rem;
    z-index: 400;
    cursor: pointer;
    display: none; }
    @media only screen and (max-width: 37.5em) {
      .nav__menu {
        display: block; } }
    .nav__menu-hidden {
      display: none; }
  .nav__close {
    font-size: 5rem;
    position: absolute;
    top: 0;
    left: 2rem;
    color: #fff;
    cursor: pointer;
    display: none; }
    @media only screen and (max-width: 37.5em) {
      .nav__close {
        display: block; } }

.search-click {
  color: var(--gray-5);
  text-transform: uppercase;
  cursor: pointer;
  transition: all .4s;
  font-size: inherit; }
  .search-click:hover {
    color: #fff; }

.section-presentation {
  padding: 25rem 10rem 10rem 10rem;
  z-index: 2; }
  @media only screen and (max-width: 62.5em) {
    .section-presentation {
      padding: 25rem 10rem 1rem 10rem; } }
  @media only screen and (max-width: 37.5em) {
    .section-presentation {
      padding: 25rem 1.5rem 1rem 5rem; } }

.section-illustrate {
  padding: 0 0 5rem 10rem;
  overflow: hidden; }
  @media only screen and (max-width: 75em) {
    .section-illustrate {
      padding: 5rem 7rem; } }
  @media only screen and (max-width: 43.75em) {
    .section-illustrate {
      padding: 2rem 2rem; } }

.section-quotes {
  padding: 7rem 15rem; }
  @media only screen and (max-width: 75em) {
    .section-quotes {
      padding: 5rem 7rem; } }

.section-signup {
  padding: 7rem 10rem;
  overflow: hidden; }
  @media only screen and (max-width: 37.5em) {
    .section-signup {
      padding: 3rem 5rem; } }

.section-summary {
  padding: 6rem 10rem;
  position: relative; }
  @media only screen and (max-width: 37.5em) {
    .section-summary {
      padding: 3rem; } }
