:root {
	//colors
	//mains
	--primary: 0, 10, 73; //#000a49
	--primary-dark-1: 0, 8, 57; //#000839
	--primary-light: 0, 12, 89; //#000c59
	--primary-dark-2: 0, 4, 32; //#000420
	--secondary: 0, 50, 103; //#003267
	// --color-primary:
	//grays
	--gray-1: #111;
	--gray-2: #333;
	--gray-3: #555;
	--gray-4: #777;
	--gray-5: #999;

	//font-size
	--normal-font: 1.7rem;
}
