.search-bar{
    background-image: linear-gradient(to top left, #282526c2, #4c4559c5); 
    // ,url(../../img/search-photo.jpg);
    // background-position: bottom;
    // background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
    z-index: 1000;
    // display: none;
    // opacity: 0;
    transform: translateY(-100%);
    transition: all 1s;
    // display: flex;
    // justify-content: center;
    // align-items: center;
}



.show-search{
    transform: translateY(0);
    // display: flex;
}

.search{

    &__cont{
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        margin-top: 200px;
    }

    &__input{
        position: relative;
        padding: 2rem;
        background-color: rgba(var(--primary-dark-2), 1);
        color: var(--gray-5);
        width: 50%;
        border: 0;
        border-radius: 1rem;
        font-size: 2rem;
        font-family: inherit;
        &:focus{
            outline: 0;
        }
    }

    &__icon{
        position: absolute;
        z-index: 2;
        top: 15px;
        right: 410px;
        cursor: pointer;
        stroke: none;
        fill: var(--gray-5);
    }

    &__close{
        position: absolute;
        top: 2rem;
        right: 4rem;
        font-size: 6rem;
        font-weight: 300;
        cursor: pointer;
        color: var(--gray-5);
        transition: all .4s;

        &:hover{
            color: #fff;
        }
        
        
    }


   
    
}


